body {
  font-family:'Courier New', Courier, monospace;
}

.card-title {
  text-align: center;
  margin: inherit;
  padding: 10px;
  background-color: #B1C1C0;
}

.card-body {
  background-color: #918868;
}

.form-group {
  margin: 10px;
  padding: 25px;
  border: 100px;
  text-align: center;
}

.form-control {
  text-align: justify;
  text-size: 21px;
  background-color: #E2E8C0;
}

option {
  background-color: #E2E8C0;
}
label {
  font-weight: bolder;
  font-size: 23px;
}

.card-title {
  font-weight: bolder;
  font-size-adjust: inherit;
}

.buttonHolder {
  text-align: center;
}

#card-results {
  display: none;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

#result {
  padding-bottom: 5em;
  font-size: 2em;
}