body {
  font-family:'Courier New', Courier, monospace;
}



.card-title {
  text-align: center;
  margin: inherit;
  padding: 10px;
  background-color: #ADF7B6;
}

.card-body {
  background-color: #C7AC92;
}

.form-group {
  margin: 10px;
  padding: 25px;
  border: 100px;
  text-align: center;
}

label {
  font-weight: bolder ;
}


#result {
  display: none;
}