.container {
  font-family:'Courier New', Courier, monospace;
}



.card-title {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.form-group {
  margin: 10px;
  padding: 25px;
}

label {
  font-weight: bolder ;
}

#result {
  display: none;
}